:root {
    --ytgallery-primary: #cd4e4e;
    --ytgallery-secondary: #6c757d;
    --ytgallery-background: #252525;
    --ytgallery-hover: #1c1c1c;
    --ytgallery-contrast: #fff;
}

html {
    background-color: var(--ytgallery-hover)
}

.api-input {
    width: 100%;
    line-height: 3;
    background-color: var(--ytgallery-background);
    border: none;
    color: var(--ytgallery-contrast);
    outline: none;
    padding: 0 10px;
    margin-bottom: 10px;
}

.ytgallery-search {
    width: 100%;
    line-height: 3;
    background-color: var(--ytgallery-background);
    border: none;
    color: var(--ytgallery-contrast);
    outline: none;
    padding: 0 10px;
    margin: 10px 0;
}

.ytgallery-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    color: var(--ytgallery-contrast)
}

.ytgallery-btn {
    background-color: var(--ytgallery-background);
    padding: 15px;
    cursor: pointer;
    margin: 5px;
    transition: .2s;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ytgallery-info {
    padding-left: 10px;
    padding-right: 10px;
}

.ytgallery-btn:hover {
    filter: brightness(0.9);
}

.ytgallery-btn.disabled {
    filter: brightness(0.5);
    cursor: default;
}

.ytgallery-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.ytgallery-video-container {
    margin-top: 10px;
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    transition: .2s;
    text-decoration: none;
    background-color: var(--ytgallery-background);
    color: var(--ytgallery-contrast);
}

.ytgallery-video-container:focus {
    outline: none !important;
}

.ytgallery-video-container:hover {
    transform: scale(1.05);
    background-color: var(--ytgallery-accent);
}

.ytgallery-thumbnail-container {
    display: block;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}

.ytgallery-video-thumbnail {
    object-fit: cover;
    width: 100%;
}

.ytgallery-video-title {
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
    line-height: 1.5em;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    margin-bottom: 0px;
}

.ytgallery-meta-info {
    padding-left: 5px;
    color: var(--ytgallery-secondary);
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.ytgallery-video-duration {
    position: absolute;
    margin: 0;
    top: 5px;
    right: 5px;
    color: #fff;
    z-index: 99;
    text-shadow: 0 0 2px #000;
    background: rgba(0, 0, 0, .6);
    padding: 0 3px;
    font-size: 12px !important;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.ytgallery-meta {
    display: flex;
    justify-content: space-between;
}

.ytgallery-meta div {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.ytgallery-meta-icon {
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--ytgallery-secondary);
}

.ytgallery-error {
    text-align: center;
    color: var(--ytgallery-contrast);
    width: 100%;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.ytgallery-loader {
    border: 16px solid var(--ytgallery-background);
    border-top: 16px solid var(--ytgallery-secondary);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: ytgallery-spin 2s linear infinite;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes ytgallery-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}